
.containerz{
    margin-left: 10px;
}
.auct_title, .img_url{
    width: 500px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.text_area{
    width: 500px;
    height: 250px;
    border-radius: 5px;
    margin-top: 20px;
}
.submit_btn{
    margin-top: 10px;
    border-radius: 5px;
    background-color: #4285F4;
    color: white;
    
}
.desc_lable{
    margin-top: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.listing_container{
    background-color: #4285F4;
    border: 1px solid black;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.listing_container img{
    max-width: 200px;
    margin: 10px 0;
}
.right_section{
    float:left;
    width: 400px;
    margin-right: 500px;
    background-color: aquamarine;
}
