.nav_bar{
    margin: 10px;
}
.containerz{
    margin-left: 10px;
}
.auct_title, .img_url{
    max-width: 500px;
    max-height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

.text_area{
    width: 500px;
    height: 250px;
    border-radius: 5px;
    margin-top: 20px;
}
.submit_btn{
    width: 140px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #4285F4;
    color: white;
}
.submit_btn:hover {
    background-color: #76a9fa;
}
.desc_lable{
    margin-top: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.listing_container{
    background-color: #f3f3f3;
    border: 1px solid rgb(182, 182, 182);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.listing_container img{
    max-width: 200px;
    margin: 20px 0 10px 10px;
    object-fit: contain;
}
.right_section{
    float:left;
    margin: 20px 0 10px 10px;
}
.listing_wrapper{
    margin:20px;
}
.listing_wrapper img{
    margin-bottom:20px;
    max-width: 300px;
}

.watch_list_btn {
    margin-top: 15px;
    border-radius: 5px;
    width: 180px;
    height: 45px;
    color: white;
    background-color: #4285F4;
    border: none;
}
.watch_list_btn:hover {
    background-color: #76a9fa;
}
.comments{
    background-color: #f3f3f3;
}
.each_comment{

    padding: 20px 20px ;

}

.text_form{
    width: 300px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #cecece;

}
.comment_form{
    margin-top: 20px;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid #cecece;
}
.congrats{
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

.price{
    margin-top: 10px;
    font-size: 20px;
}
.active{
    color: green;
}
.inactive{
    color: red;
}
.sbmt_btn{
    width: 120px;
    height: 30px;
    margin-left : 20px;
    margin-bottom: 15px;
    background-color: #4285F4;
    color: white;
    border-radius: 5px;
    border:none;
}
.sbmt_btn:hover {
    background-color: #76a9fa;
}
.chose_div{
    margin-left: 10px;
}
#cat_view{
    margin-left: 10px;
}