{% extends "auctions/layout.html" %}

{% block body %}
    <div class="containerz">
        <h2>Create listing</h2>
        <form action = "{% url 'create_listing'%}" method="POST">
            {% csrf_token %}
            {{form.title.label}}:
            <br>
            {{form.title}}
            <br>
            {{form.description.label}}:
            <br>
            {{form.description}}
            <br>
            {{form.img_url.label}}:
            <br>
            {{form.img_url}}
            <br>
            {{form.price.label}}
            <br>
            {{form.price}}
            <br>
            {{form.start_bid}}
            <input class="submit_btn" type="submit" value="Post the listing">
        </form>
    </div>
{% endblock %}