{% extends "auctions/layout.html" %}

{% block body %}
    <div class="listing_wrapper">
        <img src="{{listing.image_url}}" alt="image of the listing">
        <h4>{{listing.title}}</h4>
        <p>{{listing.description}}</p>
        
        {% if user.is_authenticated %}
            {% if is_in_watchlist %}
            <div class="watch_list_btn">
                <form action="{% url 'remove_from_watchlist' listing_id=listing.id %}">
                    {% csrf_token %}
                    <input type="submit" value ='Remove from watchlist'>
                </form>
            </div>
            {% else %}
                <form action="{% url 'add_to_watchlist' listing_id=listing.id %}">
                    {% csrf_token %}
                    <input class="watch_list_btn" type="submit" value ='Add to watchlist'>
                </form>
            {% endif %}
            <div class="price">Bid: {{bid}} $</div>
            <form action="{% url 'update_bids' listing_id=listing.id %}" method="POST">
                {% csrf_token %}
                <input type="number" placeholder="Bid" value="{{bids}}" name="new_bid" class="text_form">
                <input type="submit" value ='Place a bid' class="watch_list_btn">
            </form>
            <form action="{% url 'add_comment' listing_id=listing.id %}" method="POST">
                {% csrf_token %}
                <textarea placeholder="Comment" name="comment" class="comment_form" rows="1" cols="50" wrap="physical"></textarea>
                <br>
                <input type="submit" value ='Add a new comment' class="watch_list_btn">
            </form>
            
        {% endif %}
    </div>
        <div class="comments">
        {% for comment in comments %}
            <div class="each_comment">
                <span>{{comment.user}}:</span>
                <span>{{comment.comment}}</span>
                <br>
            </div>
        {% endfor %}
        </div>  
   
    

{% endblock %}